DATABASE_URL="mysql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>"
SALT_ROUNDS="YOUR_SALT_ROUND"
API_PORT="YOUR_API_PORT"
ACCESS_TOKEN_SECRET="ACCESS_TOKEN_SECRET"
REFRESH_TOKEN_SECRET="REFRESH_TOKEN_SECRET"
ACCESS_TOKEN_EXPIRY="EXPIRY_DATE_FOR_ACCESS_TOKEN"
REFRESH_TOKEN_EXPIRY="EXPIRY_DATE_FOR_ACCESS_TOKEN"
